{% extends 'blog/heder_footer.html' %}
{% load static %}

{% block mainblog %}
    <div>

        <div class="card" style="width: 80%; border: 2px solid black ;margin: auto">
            <div style="border-bottom: 2px solid black; text-align: center">


                <h1>{{ articla.title }}</h1>
                <div> {{ article.description|safe }}</div>
                {{ article.category }}


            </div>

            <div class="card-body">

                <div>
                    <form method="post" action="{% url 'articles:article_comment' article.pk %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit">
                    </form>

                </div>
                <div>

                </div>
                <div style="text-align: right">
                    <a href="#"><i class="fas fa-thumbs-up"></i></a>
                    <a href="#"><i class="fas fa-bookmark"></i></a>
                </div>

            </div>
        </div>
    </div>


{% endblock %}