

{% extends 'navbar.html' %}
{% load hitcount_tags %}
{% load static %}
{% block mainblog %}
    <br>
    <div>

        <div>
            <form action="" method="POST">
                {{ form.media }}
                {{ form.as_p }}
            </form>
        </div>

        {% for article in articles %}
            <div class="card" style="width: 80%; border: 2px solid black ;margin: auto">
                <div style="border-bottom: 2px solid black; text-align: center">


                    {% include 'article/post_short.html' %}

                    <p style="text-align: right; margin-right: 6px">{{ article.created_time }}</p>
                </div>

                <div class="card-body">

                    <div style="text-align: left" >
                       <p> <i class="fas fa-eye"></i>  {% get_hit_count for article %}</p>

                    </div>


                </div>
            </div>
            <br>{% endfor %}
    </div>
{% endblock %}